lightning==2.4.0
matplotlib==3.9.1
meegkit==0.1.7
mne==1.8.0
mne-icalabel==0.7.0
numpy==1.26.4
pandas==2.2.2
pytorch-lightning==2.4.0
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
torch==2.2.2
torchmetrics==1.4.1
torchvision==0.17.2
tqdm==4.66.5